{% extends 'base.html' %}

{% block title %}The WoT Sentence Generator{% endblock %}

{% block body %}
    <style>
        body {
            background-color: antiquewhite;
        }
    </style>

    <div class="container">
        <div class="row p-5 d-flex justify-content-center">
            <h1>The Wheel of Time Sentence Generator</h1>
        </div>
        <div class="row p-5">
            <div class="col-md-10 offset-1">
                <div class="row d-flex justify-content-center text-center">
                    {{ sent }}
                </div>
                <div class="row pt-5 d-flex justify-content-center">
                    <form action="/" class="form-inline">
                        <label for="num">How many sentences?&nbsp;</label>
                        <input type="text" id="num" name="num" class="mr-2" size="3" value="{{num}}">
                        <button class="btn btn-primary" type="submit">Generate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}